body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  #courses {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h3 {
    margin: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  